* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

}

.input {
    height: 30px;
    width: 200px;
    margin: 10px 20px;
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;

}